<h1>id: 
<%= @task.id %>
 のタスク編集ページ</h1>

<div class="row">
 <div class= "col-sm-offset-2 col-sm-8 col-md-offset-2 col-sm-8 col-md-offset-3 col-sm-6">  
  <%= render 'form', task: @task %>
 </div>
</div>

<%= link_to 'Topに戻る', root_path %>